<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80934430335-cmuqt70rm4tbp40p8f0t3l4kg6jgh7e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80934430335-cmuqt70rm4tbp40p8f0t3l4kg6jgh7e9</string>
	<key>API_KEY</key>
	<string>AIzaSyAC_fNaGAStaVwyII4ssk19nfFlCd7Qd1E</string>
	<key>GCM_SENDER_ID</key>
	<string>80934430335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxicabby.cabby</string>
	<key>PROJECT_ID</key>
	<string>taxi-cabby-map1</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-cabby-map1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80934430335:ios:611458516659b6e9fa014a</string>
</dict>
</plist>